Source: tools-manifest
Maintainer: Yuvi Panda <yuvipanda@gmail.com>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.5

Package: tools-manifest
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Infrastructure for running services on tools.wmflabs.org
 tools-manifest provides an upstart service that (re-)starts
 webservices if a tool's service.manifest requires it, but
 no running webservice is found.
