#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with python3 --buildsystem=pybuild

collector-runner.1:
	PYTHONPATH=${CURDIR} help2man --no-info				\
	--version-string="${DEB_VERSION}" -o $@				\
	-n 'collect manifests and perform operations on them'		\
	$(CURDIR)/debian/tools-manifest/usr/bin/collector-runner

override_dh_installman: collector-runner.1
	dh_installman collector-runner.1

override_dh_clean:
	rm -f collector-runner.1
	dh_clean

# The service is explicitly managed by Puppet, so there is no need to
# start or stop it on package installation or removal.  In addition,
# dh_installinit does not seem to generate a postrm script for
# upstart-only services.
override_dh_installinit:
	dh_installinit --noscripts --name=webservicemonitor
