#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

# Generate manpage with help2man from --help option of python script
# (recipe from https://git.ligo.org/lscsoft/lvalert)
export PYBUILD_AFTER_INSTALL_python3 := \
	echo 'Automatically generating man pages with help2man' && \
	mkdir -p {destdir}/usr/share/man/man1 && \
	ls {destdir}/usr/bin | env PYTHONPATH={destdir}{install_dir} \
	xargs --verbose -I @ help2man --source $(DEB_SOURCE) \
	--version-string $(DEB_VERSION_UPSTREAM) --no-info --no-discard-stderr \
	{destdir}/usr/bin/@ -o {destdir}/usr/share/man/man1/@.1

# The service is explicitly managed by Puppet, so there is no need to
# start or stop it on package installation or removal.
override_dh_installinit:
	dh_installinit --noscripts --name=webservicemonitor

%:
	dh $@ --with python3 --buildsystem=pybuild
