[Unit]
Description=webservicemonitor service, to ensure web services are always running once started
After=remote-fs.target
Documentation=man:collector-runner(1)

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/collector-runner WebServiceMonitor
ProtectControlGroups=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target

